body {
  background-color: rgb(255, 241, 0);
}

.App {
  overflow: hidden;
  min-height: 100vh;
  @media screen and (orientation: landscape) {
    padding: 2rem;
  }
  @media screen and (orientation: portrait) {
    padding: 30vw 0 50vw 0;
  }
}

.Title {
  opacity: 0;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  @media screen and (orientation: landscape) {
    margin: 0.5rem 0 2rem 0;
    width: 60vw;
  }
  @media screen and (orientation: portrait) {
    width: 90vw;
    margin-bottom: 5vw;
  }
}

.H2 {
  position: fixed;
  opacity: 0;
  @media screen and (orientation: landscape) {
    width: 15vw;
    right: 3vw;
    top: 10vw;
  }
  @media screen and (orientation: portrait) {
    width: 16vw;
    right: 25vw;
    top: 5vw;
  }
}

.WormMan {
  position: fixed;
  opacity: 0;
  @media screen and (orientation: landscape) {
    width: 35vw;
    top: 5vw;
    left: -10vw;
  }
  @media screen and (orientation: portrait) {
    width: 70vw;
    top: 0vw;
    left: -10vw;
  }
}

.LeMan {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  @media screen and (orientation: landscape) {
    width: 30vw;
  }
  @media screen and (orientation: portrait) {
    width: 50vw;
  }
}

.FacebookPostEmbed {
  // width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @media screen and (orientation: landscape) {
  }
  @media screen and (orientation: portrait) {
  }
}

.container_FB {
  width: 100%;
  flex-direction: column;
  @media screen and (orientation: landscape) {
  }
  @media screen and (orientation: portrait) {
  }
}

.box__poll {
  position: relative;
  margin-bottom: 2rem;
}

.link__cover {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  span {
    color: white;
    transform: translate(-50%, -50%) rotate(-20deg);
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
  }
}

.tree {
  position: fixed;
  @media screen and (orientation: landscape) {
    bottom: -15vh;
    left: 0;
    width: 70vh;
  }
  @media screen and (orientation: portrait) {
    bottom: -25vw;
    left: -5vw;
    width: 120vw;
  }
}

:global {
  // .fb-post {
  //   width: 100%;
  // }
}
